<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals Index</title>
</head>
<body>
    <h1>Animals</h1>
    <ul>
        <% animals.forEach((animal) => { %>
            <li style="color: <%= animal.color %>">
                <a href='/animals/<%=animal.id%>'> <%= animal.name %> </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>